@media only screen and (max-width: 834px) {
    #footer{
        width: 834px;
        @include centerX;
        background-color: orange;
        .subscribe{
            @include center;
            padding: 40px 0px;
            gap: 10px;
            width: 375px;
            height: 645px;
            background-color: #2B2B2B;
            &__card{
                @include center;
                flex-direction: column;
                gap: 30px;
                padding: 0px;
                width: 315px;
                height: 565px;
                border-radius: 20px;
                background-color: #2B2B2B;
                &__left{
                    width: 315px;
                    height: 255px;
                    border-radius: 20px;
                    &__tableimg{
                        width: 315px;
                        height: 255px;
                        border-radius: 20px;
                    }
                }
                &__right{
                    flex-direction: column;
                    padding: 0px;
                    gap: 10px;       
                    width: 315px;
                    height: 280px;
                    &__title{
                        width: 315px;
                        height: 78px;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 140%;
                    }
                    &__subtitle{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        width: 315px;
                        height: 44px;
                    }
                    button{
                        width: 315px;
                        height: 46px;
                    }
                    input{
                        padding: 16px 20px;
                        width: 315px;
                        height: 46px;
                        border: 1px solid #858584;
                        margin-top: 30px;
                    }
                }
            }
        }

        .footer{
            @include centerY;
            flex-direction: column;
            padding: 40px 195px;
            gap: 30px;
            background-color: #3B3B3B;
            width: 375px;
            height: 776px;
            &__up{
                padding: 0px;
                gap: 30px;
                flex-direction: column;
                width: 315px;
                height: 633px;
                &__left{
                    padding: 0px;
                    gap: 20px;
                    flex-direction: column;
                    width: 315px;
                    height: 185px;
                    &__logo{
                        width: 243.41px;
                        height: 32px;
                    }
                    &__info{
                        padding: 0px;
                        gap: 20px;
                        flex-direction: column;
                        width: 315px;
                        height: 133px;
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            width: 315px;
                            height: 44px;
                        }
                        &__community{
                            gap: 15px;
                            width: 315px;
                            height: 69px;
                            flex-direction: column;
                            p{
                                width: 315px;
                                height: 22px;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 140%;
                            }
                            &__icons{
                                gap: 10px;
                                flex-direction: row;
                                width: 158px;
                                height: 32px;
                                svg{
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        }
                    }
                }
                &__middle{
                    gap: 20px;
                    flex-direction: column;
                    width: 315px;
                    height: 161px;
                    &__title{
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 160%;
                        width: 315px;
                        height: 35px;
                    }
                    &__body{
                        gap: 20px;
                        flex-direction: column;
                        width: 315px;
                        height: 106px;
                    }
                }
                &__right{
                    gap: 20px;
                    flex-direction: column;
                    width: 315px;
                    height: 227px;
                    &__title{
                        width: 315px;
                        height: 35px;
                        font-size: 22px;
                    }
                    &__body{
                        gap: 20px;
                        flex-direction: column;
                        width: 315px;
                        height: 172px;
                        @include centerY;
                        position: relative;
                        p{
                            font-size: 16px;
                            line-height: 140%;
                            width: 315px;
                            height: 44px;
                        }
                        button{
                            position: absolute;
                            bottom: 0px;
                            left:0px;
                            width: 315px;
                            height: 46px;
                            padding: 0px 50px;
                        }
                        input{
                            border: 1px solid #858584;
                            width: 315px;
                            height: 46px;
                            padding: 16px 20px;
                        }
                    }
                }
            }
            &__down{
                gap: 20px;
                flex-direction: column;
                width: 315px;
                height: 33px;
                hr{
                    height: 0px;
                    width: 315px;
                    border: 1px solid #858584;
                }
                p{
                    width: 315px;
                    height: 13px;
                    font-size: 12px;
                    line-height: 110%;
                }
            }
        }
    }
}