@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centerX {
    display: flex;
    justify-content: center;
}
@mixin centerY {
    display: flex;
    align-items: center;
}
@mixin between {
    display: flex;
    justify-content:space-between;
}