* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

#header #navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #navbar .navbar__left {
  display: flex;
  align-items: center;
  padding: 14px 0px;
}
#header #navbar .navbar__left img:hover {
  cursor: pointer;
}
#header #navbar .navbar__right {
  display: flex;
  align-items: center;
}
#header #navbar .navbar__right a {
  font-family: "Work Sans", sans-serif;
  display: block;
  gap: 12px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
  transition: all 0.3s ease;
}
#header #navbar .navbar__right a:hover {
  transform: scale(0.95);
}
#header #navbar .navbar__right button {
  background-color: #A259FF;
  padding: 0px 30px;
  border: none;
  color: white;
  border-radius: 20px;
  text-align: center;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease;
}
#header #navbar .navbar__right button:hover {
  cursor: pointer;
  transform: scale(0.95);
}
#header #navbar .navbar__right button div {
  display: flex;
  align-items: center;
}
#header #navbar .navbar__right button div img {
  margin-right: 12px;
}
#header .container {
  display: flex;
  align-items: center;
  width: 55%;
  margin: auto;
}
#header #intro {
  padding: 80px 0px;
  gap: 30px;
  display: flex;
}
#header #intro .intro__left {
  width: 510px;
  height: 222px;
}
#header #intro .intro__left .intro__left__top p:first-child {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 67px;
  font-weight: 600;
  color: white;
  line-height: 110%;
}
#header #intro .intro__left .intro__left__top p:last-child {
  margin-top: 20px;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: white;
  line-height: 160%;
  text-transform: capitalize;
}
#header #intro .intro__left__bottom__top button {
  height: 60px;
  padding: 0px 50px;
  border-radius: 20px;
  color: white;
  background-color: #A259FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-top: 30px;
  border: none;
  transition: all 0.3s ease;
}
#header #intro .intro__left__bottom__top button:hover {
  cursor: pointer;
  transform: scale(0.95);
}
#header #intro .intro__left__bottom__bottom {
  margin-top: 30px;
  gap: 70px;
  display: flex;
  align-items: flex-start;
}
#header #intro .intro__left__bottom__bottom .intro__left__bottom__bottom__item p {
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: white;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
#header #intro .intro__left__bottom__bottom .intro__left__bottom__bottom__item p:last-child {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  text-transform: capitalize;
}
#header #intro .intro__right img {
  width: 510px;
  height: 510px;
}
#header .trending__text {
  width: 1046px;
  height: 91px;
  margin-top: 100px;
}
#header .trending__text h1 {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  margin-bottom: 10px;
}
#header .trending__text p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: white;
}
#header .trending__main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
#header .trending__main img {
  transition: all 0.3s ease;
}
#header .trending__main img:hover {
  transform: scale(0.95);
  cursor: pointer;
}
#header .trending__main .trending__main__left__middle,
#header .trending__main .trending__main__middle__middle,
#header .trending__main .trending__main__right__middle {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
#header .trending__main .trending__main__left__bottom h1,
#header .trending__main .trending__main__middle__bottom h1,
#header .trending__main .trending__main__right__bottom h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: white;
  margin-bottom: 10px;
}
#header .trending__main .trending__main__left__bottom div,
#header .trending__main .trending__main__middle__bottom div,
#header .trending__main .trending__main__right__bottom div {
  display: flex;
  align-items: center;
}
#header .trending__main .trending__main__left__bottom div span,
#header .trending__main .trending__main__middle__bottom div span,
#header .trending__main .trending__main__right__bottom div span {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: white;
  margin-left: 12px;
}