* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

#middledown .middledown__nav {
  width: 1050px;
  height: 91px;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: row;
  gap: 100px;
  padding: 0;
  margin-top: 80px;
}
#middledown .middledown__nav__left {
  width: 763px;
  height: 91px;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
#middledown .middledown__nav__left__first__div {
  width: 763px;
  height: 46px;
}
#middledown .middledown__nav__left__first__div__h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #FFFFFF;
  line-height: 45.6px;
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
}
#middledown .middledown__nav__left__2__text {
  padding-top: 10px;
  width: 763px;
  height: 35px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 35.2px;
  color: #FFFFFF;
  text-transform: capitalize;
}
#middledown .middledown__nav__right__button {
  border-radius: 20px;
  width: 187px;
  height: 60px;
  top: 31px;
  left: 100px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0, 50px, 0, 50px;
  border: #A259FF solid 2px;
}
#middledown .middledown__nav__right__button #sa {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
}