* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#footer .subscribe {
  background-color: #2B2B2B;
  margin-top: 80px;
  width: 1280px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .subscribe__card {
  display: flex;
  flex-direction: row;
  background-color: #3B3B3B;
  width: 1050px;
  height: 430px;
  border-radius: 20px;
  padding: 60px;
  gap: 80px;
}
#footer .subscribe__card__left {
  border-radius: 20px;
  width: 425px;
  height: 310px;
}
#footer .subscribe__card__left__tableimg {
  display: none;
}
#footer .subscribe__card__right {
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  width: 425px;
  height: 272px;
}
#footer .subscribe__card__right__title {
  width: 425px;
  height: 92px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
}
#footer .subscribe__card__right__subtitle {
  margin-top: 10px;
  width: 425px;
  height: 70px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
}
#footer .subscribe__card__right button {
  color: white;
  font-family: "Work Sans", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  gap: 12px;
  width: 211px;
  height: 60px;
  background-color: #A259FF;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s ease;
}
#footer .subscribe__card__right button:hover {
  transform: scale(0.95);
  cursor: pointer;
}
#footer .subscribe__card__right input {
  margin-top: 40px;
  border-radius: 20px;
  width: 425px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  border: none;
}
#footer .footer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  width: 1280px;
  height: 334px;
  background-color: #3B3B3B;
  padding: 40px 195px;
  display: flex;
  gap: 30px;
}
#footer .footer__up {
  width: 1049.41px;
  height: 191px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  gap: 31px;
  flex-direction: row;
}
#footer .footer__up__left {
  display: flex;
  flex-direction: column;
  width: 327.41px;
  height: 191px;
  gap: 30px;
}
#footer .footer__up__left__logo {
  width: 243.41px;
  height: 32px;
}
#footer .footer__up__left__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 238px;
  height: 129px;
  color: #CCCCCC;
}
#footer .footer__up__left__info p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  width: 238px;
  height: 44px;
}
#footer .footer__up__left__info__community {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 238px;
  height: 65px;
}
#footer .footer__up__left__info__community p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
#footer .footer__up__middle {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 166px;
  gap: 25px;
}
#footer .footer__up__middle__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
}
#footer .footer__up__middle__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #CCCCCC;
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
#footer .footer__up__right {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 184px;
  gap: 25px;
  padding: 0px;
}
#footer .footer__up__right__title p {
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  text-transform: capitalize;
}
#footer .footer__up__right__body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 20px;
  width: 420px;
  height: 124px;
}
#footer .footer__up__right__body p {
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #CCCCCC;
  line-height: 140%;
}
#footer .footer__up__right__body button {
  width: 179px;
  height: 60px;
  position: absolute;
  background-color: #A259FF;
  border-radius: 20px;
  padding: 0px 50px;
  border: none;
  right: 0px;
  bottom: 0px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
#footer .footer__up__right__body button:hover {
  transform: scale(0.95);
  cursor: pointer;
}
#footer .footer__up__right__body input {
  width: 420px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: none;
}
#footer .footer__down {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1049.41px;
  height: 33px;
}
#footer .footer__down hr {
  width: 1049.41px;
  height: 0px;
  border: 1px solid #858584;
}
#footer .footer__down p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #CCCCCC;
}

@media only screen and (max-width: 1280px) {
  #footer {
    width: 834px;
    display: flex;
    justify-content: center;
    background-color: aqua;
  }
  #footer .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 834px;
    height: 480px;
    padding: 40px 0px 80px;
    background-color: #2B2B2B;
  }
  #footer .subscribe__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 690px;
    height: 360px;
    padding: 40px 30px;
    gap: 30px;
    background-color: #3B3B3B;
    border-radius: 20px;
  }
  #footer .subscribe__card__left {
    border-radius: 20px;
    width: 300px;
    height: 280px;
  }
  #footer .subscribe__card__left__img {
    display: none;
  }
  #footer .subscribe__card__left__tableimg {
    width: 300px;
    height: 280px;
    display: block;
  }
  #footer .subscribe__card__right {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    color: #FFFFFF;
  }
  #footer .subscribe__card__right__title {
    width: 300px;
    height: 78px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    font-family: "Work Sans", sans-serif;
    text-transform: capitalize;
  }
  #footer .subscribe__card__right__subtitle {
    margin-top: 10px;
    width: 300px;
    height: 44px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-family: "Work Sans", sans-serif;
  }
  #footer .subscribe__card__right button {
    position: absolute;
    width: 300px;
    height: 46px;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer .subscribe__card__right button:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  #footer .subscribe__card__right input {
    padding: 16px 20px;
    gap: 12px;
    width: 300px;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #858584;
    border-radius: 20px;
    margin-top: 40px;
  }
  #footer .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    width: 834px;
    height: 703px;
    padding: 40px 195px;
    gap: 49px;
  }
  #footer .footer__up {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 30px;
    width: 690px;
    height: 541px;
  }
  #footer .footer__up__left {
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 163px;
    gap: 20px;
  }
  #footer .footer__up__left__logo {
    width: 243.41px;
    height: 32px;
  }
  #footer .footer__up__left__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 690px;
    height: 111px;
  }
  #footer .footer__up__left__info p {
    width: 690px;
    height: 22px;
  }
  #footer .footer__up__left__info__community {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 690px;
    height: 69px;
  }
  #footer .footer__up__left__info__community p {
    width: 690px;
    height: 22px;
  }
  #footer .footer__up__left__info__community__icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 158px;
    height: 32px;
  }
  #footer .footer__up__middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 690px;
    height: 161px;
  }
  #footer .footer__up__middle__title {
    width: 690px;
    height: 35px;
  }
  #footer .footer__up__middle__body {
    width: 690px;
    height: 106px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #footer .footer__up__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 690px;
    height: 157px;
  }
  #footer .footer__up__right__title {
    width: 690px;
    height: 35px;
  }
  #footer .footer__up__right__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 690px;
    height: 102px;
  }
  #footer .footer__up__right__body p {
    width: 690px;
    height: 22px;
  }
  #footer .footer__up__right__body button {
    width: 179px;
    height: 60px;
    left: 241px;
  }
  #footer .footer__up__right__body button:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  #footer .footer__up__right__body input {
    width: 420px;
    height: 60px;
    padding: 16px 0px 16px 20px;
  }
  #footer .footer__down {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 690px;
    height: 33px;
  }
  #footer .footer__down hr {
    width: 690px;
    height: 0px;
  }
  #footer .footer__down p {
    width: 690px;
    height: 13px;
  }
}
@media only screen and (max-width: 834px) {
  #footer {
    width: 834px;
    display: flex;
    justify-content: center;
    background-color: orange;
  }
  #footer .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 10px;
    width: 375px;
    height: 645px;
    background-color: #2B2B2B;
  }
  #footer .subscribe__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
    width: 315px;
    height: 565px;
    border-radius: 20px;
    background-color: #2B2B2B;
  }
  #footer .subscribe__card__left {
    width: 315px;
    height: 255px;
    border-radius: 20px;
  }
  #footer .subscribe__card__left__tableimg {
    width: 315px;
    height: 255px;
    border-radius: 20px;
  }
  #footer .subscribe__card__right {
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    width: 315px;
    height: 280px;
  }
  #footer .subscribe__card__right__title {
    width: 315px;
    height: 78px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  #footer .subscribe__card__right__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    width: 315px;
    height: 44px;
  }
  #footer .subscribe__card__right button {
    width: 315px;
    height: 46px;
  }
  #footer .subscribe__card__right button:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  #footer .subscribe__card__right input {
    padding: 16px 20px;
    width: 315px;
    height: 46px;
    border: 1px solid #858584;
    margin-top: 30px;
  }
  #footer .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 195px;
    gap: 30px;
    background-color: #3B3B3B;
    width: 375px;
    height: 776px;
  }
  #footer .footer__up {
    padding: 0px;
    gap: 30px;
    flex-direction: column;
    width: 315px;
    height: 633px;
  }
  #footer .footer__up__left {
    padding: 0px;
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 185px;
  }
  #footer .footer__up__left__logo {
    width: 243.41px;
    height: 32px;
  }
  #footer .footer__up__left__info {
    padding: 0px;
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 133px;
  }
  #footer .footer__up__left__info p {
    font-weight: 400;
    font-size: 16px;
    width: 315px;
    height: 44px;
  }
  #footer .footer__up__left__info__community {
    gap: 15px;
    width: 315px;
    height: 69px;
    flex-direction: column;
  }
  #footer .footer__up__left__info__community p {
    width: 315px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  #footer .footer__up__left__info__community__icons {
    gap: 10px;
    flex-direction: row;
    width: 158px;
    height: 32px;
  }
  #footer .footer__up__left__info__community__icons svg {
    width: 32px;
    height: 32px;
  }
  #footer .footer__up__middle {
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 161px;
  }
  #footer .footer__up__middle__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    width: 315px;
    height: 35px;
  }
  #footer .footer__up__middle__body {
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 106px;
  }
  #footer .footer__up__right {
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 227px;
  }
  #footer .footer__up__right__title {
    width: 315px;
    height: 35px;
    font-size: 22px;
  }
  #footer .footer__up__right__body {
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 172px;
    display: flex;
    align-items: center;
    position: relative;
  }
  #footer .footer__up__right__body p {
    font-size: 16px;
    line-height: 140%;
    width: 315px;
    height: 44px;
  }
  #footer .footer__up__right__body button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 315px;
    height: 46px;
    padding: 0px 50px;
  }
  #footer .footer__up__right__body button:hover {
    transform: scale(0.95);
    cursor: pointer;
  }
  #footer .footer__up__right__body input {
    border: 1px solid #858584;
    width: 315px;
    height: 46px;
    padding: 16px 20px;
  }
  #footer .footer__down {
    gap: 20px;
    flex-direction: column;
    width: 315px;
    height: 33px;
  }
  #footer .footer__down hr {
    height: 0px;
    width: 315px;
    border: 1px solid #858584;
  }
  #footer .footer__down p {
    width: 315px;
    height: 13px;
    font-size: 12px;
    line-height: 110%;
  }
}