* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2B2B2B;
}

#middledown .middledown__nav {
  width: 1050px;
  height: 91px;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: flex-end;
  flex-direction: row;
  gap: 100px;
  padding: 0;
  margin-top: 80px;
}
#middledown .middledown__nav__left {
  width: 763px;
  height: 91px;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
#middledown .middledown__nav__left__first__div {
  width: 763px;
  height: 46px;
}
#middledown .middledown__nav__left__first__div__h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #FFFFFF;
  line-height: 45.6px;
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
}
#middledown .middledown__nav__left__2__text {
  padding-top: 10px;
  width: 763px;
  height: 35px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 35.2px;
  color: #FFFFFF;
  text-transform: capitalize;
}
#middledown .middledown__nav__right__button {
  border-radius: 20px;
  width: 187px;
  height: 60px;
  top: 31px;
  left: 100px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0, 50px, 0, 50px;
  border: #A259FF solid 2px;
}
#middledown .middledown__nav__right__button #sa {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 600;
}
#middledown .middledown__middle {
  display: flex;
  width: 1050px;
  height: 469px;
  margin: auto;
  gap: 30px;
}
#middledown .middledown__middle__nftcard1 {
  background-color: #3B3B3B;
  width: 330px;
  height: 469px;
  border-radius: 20px;
  margin-top: 60px;
}
#middledown .middledown__middle__nftcard1__footer {
  width: 330px;
  height: 173px;
  padding-top: 20px;
  padding-left: 30px;
  gap: 25px;
}
#middledown .middledown__middle__nftcard1__footer__top {
  height: 60px;
  width: 270px;
  gap: 5px;
}
#middledown .middledown__middle__nftcard1__footer__top__h5 {
  width: 270px;
  height: 31px;
}
#middledown .middledown__middle__nftcard1__footer__top__h5 h5 {
  line-height: 30.8px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
#middledown .middledown__middle__nftcard1__footer__top__div {
  padding-top: 5px;
  display: flex;
}
#middledown .middledown__middle__nftcard1__footer__top__div__nft {
  margin-left: 12px;
  padding-bottom: 2px;
}
#middledown .middledown__middle__nftcard1__footer__top__div__nft #avtr {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
#middledown .middledown__middle__nftcard1__footer__down {
  display: flex;
  margin-top: 25px;
  width: 270px;
  height: 43px;
}
#middledown .middledown__middle__nftcard1__footer__down__left {
  width: 135px;
  height: 43px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
#middledown .middledown__middle__nftcard1__footer__down__left div {
  width: 114px;
  height: 13px;
  margin-bottom: 8px;
}
#middledown .middledown__middle__nftcard1__footer__down__left div p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13.2px;
  color: #858584;
}
#middledown .middledown__middle__nftcard1__footer__down__left__div {
  width: 114px;
  height: 22px;
}
#middledown .middledown__middle__nftcard1__footer__down__left__div #p {
  line-height: 22.4px;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
}
#middledown .middledown__middle__nftcard1__footer__down__right {
  width: 135px;
  height: 43px;
}
#middledown .middledown__middle__nftcard1__footer__down__right__top {
  text-align: right;
  width: 135px;
  height: 13px;
}
#middledown .middledown__middle__nftcard1__footer__down__right__top__p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13.2px;
  color: #858584;
}
#middledown .middledown__middle__nftcard1__footer__down__right__div {
  padding-top: 8px;
  text-align: right;
  width: 135px;
  height: 22px;
}
#middledown .middledown__middle__nftcard1__footer__down__right__div #eth {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400px;
  line-height: 22.4px;
  color: #FFFFFF;
}