#header {
    // Hersey bunun icinde yazilacaq

    #navbar {
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .navbar__left {
            display: flex;
            align-items: center ;
            padding: 14px 0px;

            img{
                &:hover{
                    cursor: pointer;
                }
            }
        }

        .navbar__right {
            display: flex;
            align-items: center;

            a {
                font-family: $font;
                display: block;
                gap: 12px;
                padding: 10px 20px;
                font-size: 16px;
                color: white;
                text-decoration: none;
                font-weight: 600;
                margin-right: 10px;
                transition: all 0.3s ease;
                &:hover{
                    transform: scale(0.95);
                }
            }

            button{
                background-color: #A259FF;
                padding: 0px 30px;
                border: none;
                color: white;
                border-radius: 20px;
                text-align: center;
                height: 60px;
                font-size: 16px;
                font-weight: 600;
                font-family: $font;
                transition: all 0.3s ease;
                &:hover{
                    cursor: pointer;
                    transform: scale(0.95);
                }
                div{
                    display: flex;
                    align-items: center;

                    img{
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}