#middleup {

    // Hersey bunun icinde yazilacaq
    
        @include centerX;
        background-color: #2B2B2B;

    .content {
        width: 1280px;
        height: 1085px;
        background-color: #2B2B2B;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 195px;
        gap: 60px;

        .text_top {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: 0px;
            gap: 100px;
            width: 1050px;
            height: 91px;

            &_left {
                p {
                    width: 703px;
                    height: 46px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 120%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    
                }

                .heckout_text {
                    height: 35px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 160%;
                    text-transform: capitalize;
                    color: #FFFFFF;
                    width: 703px;
                }

            }

            .btn_rocket {
                box-sizing: border-box;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px 50px;
                gap: 12px;
                width: 247px;
                height: 60px;
                border: 2px solid #A259FF;
                border-radius: 20px;
                display: flex;
                background-color: #2B2B2B;
                
                .View_Rankings{
                    height: 22px;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    text-align: center;
                    color: #FFFFFF;
                    width: 115px;
                    order: 1;
                    flex-grow: 0;
                    flex: none;

                }
                &:hover {
                    transform: scale(0.95);
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }

        .border_card {
            margin-top: 60px;
            margin-bottom: 160px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 30px;  
            width: 1050px;
            height: 774px;
            .border_card_row{
                
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 30px;
                width: 1050px;
                height: 238px;
                .card_number_1 {                
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    gap: 20px;
                    isolation: isolate;
                    width: 240px;
                    height: 238px;
                    background-color: #3B3B3B;
                    border-radius: 20px;
                    position: relative;

                    .avatar {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        padding: 0px;
                        isolation: isolate;
                        width: 110px;
                        height: 120px;
                    }
                    .text_card1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 0px;
                        gap: 5px;            
                        width: 200px;
                        height: 58px;
                        .keepitreal{
                            font-family: $font;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 140%;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            width: 200px;
                            height: 31px;
                        }
                        .text_card_bottom{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 10px;            
                            width: 200px;
                            height: 22px;
                            .total_sales{
                                font-family: $font;
                                width: 95px;
                                height: 22px;
                                color: #858584;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 140%;
                                text-align: right;
                            }
                            .ETH{
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 140%;
                                width: 95px;
                                height: 22px;
                                color: #FFFFFF;
                                font-family: $font;
                            }
                        }

                    }
                    .card_up_number{
                        flex-direction: row;
                        @include center;
                        padding: 0px;
                        isolation: isolate;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: 20px;
                        top: 18px;
                        background-color: #2B2B2B;
                        border-radius: 20px;
                        .number{
                            width: 10px;
                            height: 22px;                                                                                                
                            font-family: $font;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;                                                       
                            display: flex;
                            align-items: center;
                            text-align: center;                                                   
                            color: #858584;
                            position: absolute;
                        }                
                    }  
                }
                 
            }

        }
        .card_all_browse{
            
            .Browse_Categories{
                
                width: 1050px;
                height: 46px;              
                font-family: $font;
                font-style: normal;
                font-weight: 600;
                font-size: 38px;
                line-height: 120%;              
                text-transform: capitalize;           
                color: #FFFFFF;
                
            }
            .card_category_all{
                margin-top: 60px;
                margin-bottom: 80px;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 30px;                
                width: 1050px;
                height: 662px;
                
                .categori_card_row{
                    
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 30px;                    
                    width: 1050px;
                    height: 316px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    .card_category{
                       
                        display: flex;
                        flex-direction: column;                    
                        width: 240px;
                        height: 316px;
                        align-items: center;
                        padding: 0px;                       
                        border-radius: 20px;
                        

                        .card_category_top{
                            position: relative;
                            width: 240px;
                            height: 240px;
                            border-radius: 20px 20px 0px 0px;
                            .card_category_top_icon{
                                display: flex;  
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                padding: 0px;
                                gap: 10px;
                                background-color: rgba(255, 255, 255, 0.1);
                                border-radius: 20px 20px 0px 0px;
                                backdrop-filter: blur(7.5px);
                                position: absolute;
                                height: 240px;
                                left: 0px;
                                right: 0px;
                                top: 0px; 
                            }
                            .card_category_top_img{
                                position: absolute;
                                height: 240px;
                                left: 0px;
                                right: 0px;
                                top: 0px;
                               
                            }
                        }
                        .card_category_bottom{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 20px 30px 25px;                            
                            width: 240px;
                            height: 76px;
                            gap: 25px;
                            background-color: #3B3B3B;
                            border-radius: 0px 0px 20px 20px;
                            p{
                                height: 31px;                           
                                font-family: $font;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 140%;         
                                text-transform: capitalize; 
                                color: #FFFFFF;
                                width: 180px;
                            }
                            
                        }
                        
                    }
                }

            }

        }

    }
}