@media only screen and (max-width: 1280px){
    #middleup{
       
        @include centerX;
        background-color: #2B2B2B;
        .content{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            position: absolute;
               
            background-color: #2B2B2B;
            padding: 40px 195px;
            
            .text_top{
                
                display: flex;
                flex-direction: row;
                padding: 0px;
                gap: 100px;               
                width: 690px;
                height: 93px;
                align-items: flex-end;
                &left{
                    p{
                        height: 39px;
                        font-family: $font;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 140%;
                        text-transform: capitalize;
                        color: #FFFFFF;
                        width: 343px;
                    }
                    .heckout_text{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        color: #FFFFFF;
                        font-family:$font;
                    }
                }
                .btn_rocket{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 50px;
                    gap: 12px;
                    width: 247px;
                    height: 60px;
                    border: 2px solid #A259FF;
                    border-radius: 20px;
                    flex-direction: row;
                    .View_Rankings{
                        width: 115px;
                        font-family: $font;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 140%;
                        text-align: center;
                        color: #FFFFFF;
                        height: 22px;
                    }
                    &:hover {
                        transform: scale(0.95);
                        cursor: pointer;
                        transition: 0.5s;
                    }
                }
            }
            .border_card{ 
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;  
                
                padding: 0px;
                gap: 30px;
                flex-grow: 0;
                width: 690px;
                height: 360px;
                flex: none;
                order: 1;
                order: 1;
                flex-grow: 0;
                flex: none;
                .border_card_row{
                    
                    flex-wrap: wrap;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 30px;
                    width: 690px;
                    height: 100px;
                    display: flex;
                    .card_number_1{
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 20px;
                        gap: 20px;                                             
                        width: 330px;
                        height: 100px;                     
                        background-color: #3B3B3B;
                        border-radius: 20px;
                        display: flex;
                        .avatar{

                            flex-direction: column;
                            align-items: flex-end;
                            padding: 0px;
                            width: 60px;
                            height: 60px;
                            display: flex;
                        }
                        .text_card1{

                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 5px;
                            width: 210px;
                            height: 58px;
                            flex-direction: column;
                            .keepitreal{

                                width: 210px;
                                height: 31px;
                                font-family: $font;
                                font-weight: 600;
                                font-size: 22px;
                                line-height: 140%;
                                text-transform: capitalize;
                                color: #FFFFFF;
                                font-style: normal;
                            }
                            .text_card_bottom{

                                height: 22px;
                                width: 210px;
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                padding: 0px;
                                gap: 5px;
                                .total_sales{
                                    height: 22px;
                                    width: 102.5px;
                                    font-family: $font;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #858584;
                                    .EHT{
                                        height: 22px;
                                        width: 102.5px;
                                        font-family: $font;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;

                                        line-height: 140%;
                                        color: #FFFFFF;

                                    }

                                }
                            }
                            .card_up_number{
                                background-color: #2B2B2B;
                                flex-direction: row;
                                display: flex;
                                align-items: flex-start;
                                padding: 0px;
                                position: absolute;
                                width: 30px;

                                height: 30px;
                                left: 12px;
                                top: 13px;
                                border-radius: 20px;
                                .number{
                                    width: 10px;
                                    height: 22px;
                                    position: absolute;     
                                                                  
                                    font-family: $font;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 140%;                                   
                                    display: flex;
                                    align-items: center;
                                    text-align: center;                                   
                                    color: #858584;
                                }
                            }
                        }
                    }
                }

            }
            .card_all_browse{

                .Browse_Categories{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 0px;
                    gap: 10px;
                    width: 690px;
                    height: 39px;
                    p{
                        width: 690px;
                        font-family: $font;
                        font-style: normal;
                        font-weight: 600;

                        font-size: 28px;
                        line-height: 140%;
                        text-transform: capitalize;
                        color: #FFFFFF;
                        height: 39px;

                    }
                    .card_category_all{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0px;
                        gap: 30px;
                        width: 690px;
                        height: 470px;

                        .categori_card_row{
                            width: 690px;

                            padding: 0px;
                            gap: 30px;
                            height: 209px;                           
                            display: flex;
                            align-items: flex-start;
                            flex-direction: row;
                            .card_category{
                                flex-direction: column;
                                display: flex;
                                align-items: center;
                                padding: 0px;
                                width: 150px;
                                height: 209px;
                                background-color: #3B3B3B;
                                border-radius: 20px;
                                .card_category_top{
                                    border-radius: 20px 20px 0px 0px;
                                    width: 150px;
                                    height: 142px;
                                    &_icon{
                                        width: 80px;
                                        height: 80px;
                                    }
                                    .card_category_top_img{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        padding: 0px;
                                        gap: 10px;                                       
                                        position: absolute;
                                        height: 142px;
                                        left: 0px;
                                        right: 0px;
                                        top: 0px;                                        
                                        background-color: rgba(255, 255, 255, 0.1);
                                        backdrop-filter: blur(7.5px);                                        
                                        border-radius: 20px 20px 0px 0px;
                                    }
                                    
                                }
                                .card_category_bottom{
                                    width: 150px;
                                    height: 67px;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    padding: 20px 20px 25px;
                                    gap: 25px;
                                    display: flex;
                                    p{
                                        width: 110px;
                                        height: 22px;
                                        font-family: $font;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 16px;
                                        line-height: 140%;
                                        color: #FFFFFF;
                                    }
                                    
                                }
                            }

                        }
                         
                    }
                }
            }
        }
    }
}