@media only screen and (max-width: 1280px) {
    #footer{
        width: 834px;
        @include centerX;
        background-color: aqua;
        .subscribe{
            @include center;
            width: 834px;
            height: 480px;
            padding: 40px 0px 80px;
            background-color: #2B2B2B;
            &__card{
                @include center;
                flex-direction: row;
                width: 690px;
                height: 360px;
                padding: 40px 30px;
                gap: 30px;
                background-color: #3B3B3B;
                border-radius: 20px;
                &__left{
                    border-radius: 20px;
                    width: 300px;
                    height: 280px;
                    &__img{
                        display: none;
                    }
                    &__tableimg{
                        width: 300px;
                        height: 280px;
                        display: block;
                    }
                }
                &__right{
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    height: 280px;
                    color: #FFFFFF;
                    &__title{
                        width: 300px;
                        height: 78px;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 140%;
                        font-family: $font;
                        text-transform: capitalize;
                    }
                    &__subtitle{
                        margin-top: 10px;
                        width: 300px;
                        height: 44px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        font-family: $font;
                    }
                    button{
                        position: absolute;
                        width: 300px;
                        height: 46px;
                        padding: 0px 50px;
                        @include center;
                    }
                    input{
                        padding: 16px 20px;
                        gap: 12px;
                        width: 300px;
                        height: 46px;
                        background-color: #FFFFFF;
                        border: 1px solid #858584;
                        border-radius: 20px;
                        margin-top: 40px;
                    }
                }
            }
        }

        .footer{
            @include centerY;
            flex-direction: column;
            margin-top: 0px;
            width: 834px;
            height: 703px;
            padding: 40px 195px;
            gap: 49px;
            &__up{
                display: flex;
                flex-direction: column;
                padding: 0px;
                gap: 30px;
                width: 690px;
                height: 541px;
                &__left{
                    display: flex;
                    flex-direction: column;
                    width: 690px;
                    height: 163px;
                    gap: 20px;
                    &__logo{
                        width: 243.41px;
                        height: 32px;
                    }
                    &__info{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 690px;
                        height: 111px;
                        p{
                            width: 690px;
                            height: 22px;
                        }
                        &__community{
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            width: 690px;
                            height: 69px;
                            p{
                                width: 690px;
                                height: 22px;
                            }
                            &__icons{
                                display: flex;
                                flex-direction: row;
                                gap: 10px;
                                width: 158px;
                                height: 32px;
                            }
                        }
                    }
                }
                &__middle{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 690px;
                    height: 161px;
                    &__title{
                        width: 690px;
                        height: 35px;
                    }
                    &__body{
                        width: 690px;
                        height: 106px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }
                &__right{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 690px;
                    height: 157px;
                    &__title{
                        width: 690px;
                        height: 35px;
                    }
                    &__body{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 690px;
                        height: 102px;
                        p{
                            width: 690px;
                            height: 22px;
                        }
                        button{
                            width: 179px;
                            height: 60px;
                            left: 241px;
                        }
                        input{
                            width: 420px;
                            height: 60px;
                            padding: 16px 0px 16px 20px;
                        }
                    }
                }
            }
            &__down{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 690px;
                height: 33px;
                hr{
                    width: 690px;
                    height: 0px;
                }
                p{
                    width: 690px;
                    height: 13px;
                }
            }
        }

    }

  }